<html>
	<head>
		<title>This is contact page</title>
		<style type="text/css">
			body{
				background-color: red;
			}
		</style>
	</head>
	<body>

		<div>
			<form action="">
				<input type="text" value="<%= qs.dep %>">
				<br>
				<input type="text"  value="<%= qs.name %>">
				<br>
				<input type="text">
				<br>
				<input type="text">
			</form>
		</div>
	</body>
</html>